<p>New member: </p>


<div class="staff_container">
  <form method="post" action="/members">
    <label for='first_name'><p>First Name: </p></label>
    <input class="button" type="text" id="first_name" name="first_name"/>

    <label for='last_name'><p>Last Name: </p></label>
    <input class="button" type="text" id="last_name" name="last_name"/>

    <p><input class="button" type="submit" value="Add new member"></p>
  </form>
</div>
