<p> First Name: <%= @members.first_name %> </p>
<p> Last Name: <%= @members.last_name %> </p>

<form method="get" action= "/members/<%= @members.id %>/edit" target = "_self">
  <input type="submit" value="UPDATE">
</form>

<form method="post" action="/members/<%= @members.id %>/delete" >
  <input type="submit" value="DELETE">
</form>
