<!DOCTYPE html>
<html>
  <head>
    <title>RubyCore</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Allerta+Stencil" rel="stylesheet">
  </head>

  <body class="main">
    <a href="/"><img src="/images/logo.png" alt="logo"></a>
    <header class="intro_list">
      <div><a id="link1" href= "/staff">†staff</a></div>
      <div><a id="link2" href= "/users">†user</a></div>
    </header>
    <%= yield %>
  </body>

  <footer>
    <div class="footer">

    </div>
    <p>&copy; MyriamProductions</p>
  </footer>

</html>
