<!DOCTYPE html>
<html>
<head>
  <title>RubyCore</title>
</head>
<body>
  <nav>
    <h1> Welcome to RubyCore </h1>
    <p> Get fit in an environment especially designed to help you on your journey.</p>
    <ul>
      <li><a href= "/sessions" >All Sessions</a></li>
      <li><a href= "/sessions/new" >New session</a></li>
      <li><a href= "/sessions/update" >Update session</a></li>
      <li><a href= "/sessions/delete" >Delete session</a></li>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>
