<h1 id="header">Manage</h1>

<form method="get" action="/bookings" >
  <input type="submit" value="Go to bookings">
</form>

<form method="get" action="/sessions" >
  <input type="submit" value="Go to sessions">
</form>

<form method="get" action="/members" >
  <input type="submit" value="Go to members">
</form>
