.logo_header {
  margin: 0.5em;
}

.main {
  background-image: url(../images/nav-4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
}

#container {
  background-image: url(../images/nav-2.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.user-pic {
  vertical-align: middle;
}

#link1,
#link2 {
  font-size: 20px;
  color: white;
  align-items: center;
  font-family: "Allerta Stencil";
  text-decoration: none;
}

.intro_list {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  display: flex;
  justify-content: space-evenly;
  padding-top: 1em;
  background-color: rgb(5, 2, 0, 0.2);
  padding-bottom: 1em;
}

.intro {
  text-align: center;
  font-size: 5.3em;
  margin-top: 1em;
  padding-top: 20px;
}

#intro_p {
  color: rgb(241, 68, 23);
  font-size: 2em;
  text-align: center;
}

.intro,
.intro_list,
#header,
p,
a,
li {
  color: white;
  font-family: "Abel";
  text-align: center;
}

.staff_container {
  text-align: center;
}

#users_list {
  padding-top: 2em;
}

table {
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  margin-top: 2em;
}
td,
th {
  padding-top: 5px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  border: 1px solid #fd5136;
  background-color: #0e0e0ec9;
  text-align: center;
}

.button {
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 15px;
  border-radius: 10px;
  border: 3px solid #fd5136;
  font-family: "Allerta Stencil";
  font-size: 1em;
  padding: 10px;
}

.log_in {
  border: 3px solid #fd5136;
  border-radius: 10px;
  background-color: black;
  text-decoration: none;
  padding: 5px;
}

#footer {
  border-top: 5px solid #fd5136;
  margin-top: 17em;
  font-family: "Abel";
  text-align: center;
  color: black;
  background: white;
  width: 100%;
}

.footer_content {
  margin-top: 2em;
  padding-bottom: 0.5em;
}

.footer_content p {
  color: black;
  text-align: center;
}
