<h2 id="header">Bookings: </h2>

<% @bookings.each do |booking| %>
<ul>
  <li> Member: <%= booking.member.first_name%> <%= booking.member.last_name%></li>
  <li>Session: <%= booking.session.name %></li>
  <a href='/bookings/<%= booking.id %>'> VIEW </a>
</ul>
<% end %>

<h2 id="header">Create new booking: </h2>


<form method="get" action="/bookings/new" >
  <input type="submit" value="CREATE">
</form>
