<h2 id="header">Bookings: </h2>

<div class="staff_container id="header">
  <% if @bookings.empty? %>
    <p>No bookings</p>
  <% else %>
    <% @bookings.each do |booking| %>
      <p> Member: <%= booking.member.first_name%> <%= booking.member.last_name%></p>
      <p>Session: <%= booking.session.name %></p>
      <a href='/bookings/<%= booking.id %>'> VIEW </a>
    <% end %>
  <% end %>

  <h2 id="header">Create new booking: </h2>

  <form method="get" action="/bookings/new" >
    <input class="button" type="submit" value="CREATE">
  </form>
</div>
