<h2 id="header">Bookings:</h2>

<% @bookings.each do |booking| %>
  <p> Member id: <%= booking.member_id %></p>
  <p>Session no: <%= booking.session_id %></p>
  <a href='/bookings/<%= booking.id %>'> Show more </a>
<% end %>
