<p>New booking: </p>

<form method="post" action="/bookings">
  <label for='member_id'>Member id: </label>
  <input type="text" id="member_id" name="member_id"/>

  <label for='session_id'>Session no: </label>
  <input type="text" id="session_id" name="session_id"/>

  <input type="submit" value="Add new booking">
</form>
