<h2 id="header">
  <p> Member: <%= @bookings.member.first_name %>  <%= @bookings.member.last_name %></p>
  <p> Session: <%= @bookings.session.name %> </p>
</h2>

<div class="staff_container">
  <form method="post" action="/bookings/<%= @bookings.id %>/delete" >
    <input class="button" type="submit" value="DELETE">
  </form>
</div>
