<p> Member: <%= @bookings.member.first_name %>  <%= @bookings.member.last_name %></p>
<p> Session: <%= @bookings.session.name %> </p>

<form method="post" action="/bookings/<%= @bookings.id %>/delete" >
  <input type="submit" value="DELETE">
</form>
