<p>Update session: </p>

<div class="staff_container">
  <form method="post" action="/sessions/<%= @sessions.id %>">
    <label for='name'><p>Session Name: </p></label>
    <input class="button" type="text" id="name" name="name" value="<%= @sessions.name %>"/>

    <label for='capacity'><p>Capacity: </p></label>
    <input class="button" type="number" id="capacity" name="capacity" value="<%= @sessions.capacity %>"/>

    <input class="button" type="submit" value="Update session">
  </form>
</div>
