<% @sessions.each do |session| %>
  <p id ="header"> Session: <%= session.name %> / Capacity: <%= session.capacity %></p>
  <a href="/sessions/<%= session.id %>"> VIEW </a>
<% end %>

<form method="get" action="/sessions/new" >
  <input type="submit" value="CREATE">
</form>
