<p>New session: </p>

<div class="staff_container">
  <form method="post" action="/sessions">
    <label for='name'><p>Session Name: </p></label>
    <input class="button" type="text" id="name" name="name"/>

    <label for='capacity'><p>Capacity: </p></label>
    <input class="button" type="number" id="capacity" name="capacity"/>

    <p><input class="button" type="submit" value="Add new session"></p>
  </form>
</div>
