<h2 id='header'>Welcome!</h2>

<body id="container2">
  <div class="staff_container">
    <a href= "/users/new" >Create Account</a>
    <% if @users.empty? %>
      <p>No users</p>
    <% else %>
      <% @users.each do |user| %>
        <p><%= user.first_name %> <%= user.last_name %><p>
        <a href="/users/<%= user.id %>"> Log In </a>
      <% end %>
    <% end %>
  </div>
</body>
