<div class="staff_container">
  <p>Sign up: </p>

  <form method="post" action="/users">
    <label for='first_name'><p>First Name: </p></label>
    <input class="button" type="text" id="first_name" name="first_name"/>

    <label for='last_name'><p>Last Name: </p></label>
    <input class="button" type="text" id="last_name" name="last_name"/>

    <p><input class="button" type="submit" value="Sign up"></p>
  </form>
</div>
